USE [master]
GO
/****** Object:  Database [ATMA]    Script Date: 3/7/2023 11:14:15 AM ******/
CREATE DATABASE [ATMA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATMA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ATMA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATMA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ATMA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATMA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATMA]
GO
/****** Object:  Table [dbo].[ATM]    Script Date: 3/7/2023 11:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATM](
	[id_ATM] [int] NOT NULL,
	[id_sector] [int] NULL,
	[balance] [money] NULL,
 CONSTRAINT [PK_ATM] PRIMARY KEY CLUSTERED 
(
	[id_ATM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 3/7/2023 11:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[id_city] [int] NOT NULL,
	[name_city] [nvarchar](50) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[id_city] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group_]    Script Date: 3/7/2023 11:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_](
	[id_group] [int] NOT NULL,
	[id_city] [int] NULL,
 CONSTRAINT [PK_Group_] PRIMARY KEY CLUSTERED 
(
	[id_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group_Person]    Script Date: 3/7/2023 11:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_Person](
	[id_group] [int] NOT NULL,
	[id_person] [int] NOT NULL,
 CONSTRAINT [PK_Group_Person] PRIMARY KEY CLUSTERED 
(
	[id_group] ASC,
	[id_person] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group_Sector]    Script Date: 3/7/2023 11:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_Sector](
	[id_group] [int] NOT NULL,
	[id_sector] [int] NOT NULL,
 CONSTRAINT [PK_Group_Sector] PRIMARY KEY CLUSTERED 
(
	[id_group] ASC,
	[id_sector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 3/7/2023 11:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[id_person] [int] NOT NULL,
	[second_name] [nvarchar](50) NULL,
	[name_] [nvarchar](50) NULL,
	[patronymic] [nvarchar](50) NULL,
	[photo] [image] NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[id_person] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sector]    Script Date: 3/7/2023 11:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sector](
	[id_sector] [int] NOT NULL,
 CONSTRAINT [PK_Sector_1] PRIMARY KEY CLUSTERED 
(
	[id_sector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sector_GPS]    Script Date: 3/7/2023 11:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sector_GPS](
	[id_sector] [int] NOT NULL,
	[id_city] [int] NOT NULL,
	[id_street] [int] NOT NULL,
	[number_build] [int] NULL,
 CONSTRAINT [PK_Sector] PRIMARY KEY CLUSTERED 
(
	[id_sector] ASC,
	[id_city] ASC,
	[id_street] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Street]    Script Date: 3/7/2023 11:14:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Street](
	[id_street] [int] NOT NULL,
	[name_street] [nvarchar](50) NULL,
 CONSTRAINT [PK_Street] PRIMARY KEY CLUSTERED 
(
	[id_street] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ATM] ([id_ATM], [id_sector], [balance]) VALUES (1, 1, 500000.0000)
INSERT [dbo].[ATM] ([id_ATM], [id_sector], [balance]) VALUES (2, 1, 125000.0000)
INSERT [dbo].[ATM] ([id_ATM], [id_sector], [balance]) VALUES (3, 1, 990000.0000)
GO
INSERT [dbo].[City] ([id_city], [name_city]) VALUES (1, N'Казань')
INSERT [dbo].[City] ([id_city], [name_city]) VALUES (2, N'Москва')
GO
INSERT [dbo].[Group_] ([id_group], [id_city]) VALUES (1, 1)
INSERT [dbo].[Group_] ([id_group], [id_city]) VALUES (2, 1)
INSERT [dbo].[Group_] ([id_group], [id_city]) VALUES (3, 2)
GO
INSERT [dbo].[Group_Person] ([id_group], [id_person]) VALUES (1, 1)
INSERT [dbo].[Group_Person] ([id_group], [id_person]) VALUES (1, 2)
INSERT [dbo].[Group_Person] ([id_group], [id_person]) VALUES (1, 3)
GO
INSERT [dbo].[Group_Sector] ([id_group], [id_sector]) VALUES (1, 1)
INSERT [dbo].[Group_Sector] ([id_group], [id_sector]) VALUES (2, 2)
INSERT [dbo].[Group_Sector] ([id_group], [id_sector]) VALUES (3, 3)
GO
INSERT [dbo].[Person] ([id_person], [second_name], [name_], [patronymic], [photo]) VALUES (1, N'Иванов', N'Иван', N'Иванович', NULL)
INSERT [dbo].[Person] ([id_person], [second_name], [name_], [patronymic], [photo]) VALUES (2, N'Кузнецов', N'Михаил', N'Анатольевич', NULL)
INSERT [dbo].[Person] ([id_person], [second_name], [name_], [patronymic], [photo]) VALUES (3, N'Смирнов', N'Александр', N'Иванович', NULL)
GO
INSERT [dbo].[Sector] ([id_sector]) VALUES (1)
INSERT [dbo].[Sector] ([id_sector]) VALUES (2)
INSERT [dbo].[Sector] ([id_sector]) VALUES (3)
GO
INSERT [dbo].[Sector_GPS] ([id_sector], [id_city], [id_street], [number_build]) VALUES (1, 1, 1, 12)
INSERT [dbo].[Sector_GPS] ([id_sector], [id_city], [id_street], [number_build]) VALUES (1, 1, 2, 24)
INSERT [dbo].[Sector_GPS] ([id_sector], [id_city], [id_street], [number_build]) VALUES (1, 1, 3, 55)
GO
INSERT [dbo].[Street] ([id_street], [name_street]) VALUES (1, N'Ленина')
INSERT [dbo].[Street] ([id_street], [name_street]) VALUES (2, N'Кремлевская')
INSERT [dbo].[Street] ([id_street], [name_street]) VALUES (3, N'Чернышевского')
GO
ALTER TABLE [dbo].[ATM]  WITH CHECK ADD  CONSTRAINT [FK_ATM_Sector] FOREIGN KEY([id_sector])
REFERENCES [dbo].[Sector] ([id_sector])
GO
ALTER TABLE [dbo].[ATM] CHECK CONSTRAINT [FK_ATM_Sector]
GO
ALTER TABLE [dbo].[Group_]  WITH CHECK ADD  CONSTRAINT [FK_Group__City] FOREIGN KEY([id_city])
REFERENCES [dbo].[City] ([id_city])
GO
ALTER TABLE [dbo].[Group_] CHECK CONSTRAINT [FK_Group__City]
GO
ALTER TABLE [dbo].[Group_Person]  WITH CHECK ADD  CONSTRAINT [FK_Group_Person_Group_] FOREIGN KEY([id_group])
REFERENCES [dbo].[Group_] ([id_group])
GO
ALTER TABLE [dbo].[Group_Person] CHECK CONSTRAINT [FK_Group_Person_Group_]
GO
ALTER TABLE [dbo].[Group_Person]  WITH CHECK ADD  CONSTRAINT [FK_Group_Person_Person] FOREIGN KEY([id_person])
REFERENCES [dbo].[Person] ([id_person])
GO
ALTER TABLE [dbo].[Group_Person] CHECK CONSTRAINT [FK_Group_Person_Person]
GO
ALTER TABLE [dbo].[Group_Sector]  WITH CHECK ADD  CONSTRAINT [FK_Group_Sector_Group_] FOREIGN KEY([id_group])
REFERENCES [dbo].[Group_] ([id_group])
GO
ALTER TABLE [dbo].[Group_Sector] CHECK CONSTRAINT [FK_Group_Sector_Group_]
GO
ALTER TABLE [dbo].[Group_Sector]  WITH CHECK ADD  CONSTRAINT [FK_Group_Sector_Sector] FOREIGN KEY([id_sector])
REFERENCES [dbo].[Sector] ([id_sector])
GO
ALTER TABLE [dbo].[Group_Sector] CHECK CONSTRAINT [FK_Group_Sector_Sector]
GO
ALTER TABLE [dbo].[Sector_GPS]  WITH CHECK ADD  CONSTRAINT [FK_Sector_GPS_City] FOREIGN KEY([id_city])
REFERENCES [dbo].[City] ([id_city])
GO
ALTER TABLE [dbo].[Sector_GPS] CHECK CONSTRAINT [FK_Sector_GPS_City]
GO
ALTER TABLE [dbo].[Sector_GPS]  WITH CHECK ADD  CONSTRAINT [FK_Sector_GPS_Sector] FOREIGN KEY([id_sector])
REFERENCES [dbo].[Sector] ([id_sector])
GO
ALTER TABLE [dbo].[Sector_GPS] CHECK CONSTRAINT [FK_Sector_GPS_Sector]
GO
ALTER TABLE [dbo].[Sector_GPS]  WITH CHECK ADD  CONSTRAINT [FK_Sector_GPS_Street] FOREIGN KEY([id_street])
REFERENCES [dbo].[Street] ([id_street])
GO
ALTER TABLE [dbo].[Sector_GPS] CHECK CONSTRAINT [FK_Sector_GPS_Street]
GO
USE [master]
GO
